body{
    margin: 0;
    padding: 0;
}
.central{
    width: 500px;
    height: 230px;
    background-color: aquamarine;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.formulario{
    display: flex;
    flex-direction: column;
    text-align: center;
}
input{
    width: 90%;
    margin: auto;
    height: 30px;
}
label{
    margin-left: -83%;
}
.botao{
    background-color: darkred;
    color: #fff;
    width: 90%;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}